# transpiled files and dependencies
node_modules

# junk files
package-lock.json
.DS_Store
Thumbs.db
tests/**/*.txt
npm-debug*.log
*.bak

# build file
max/soundworks/javascript/soundworks.shared-state.cjs
